<center> <img SRC="my-hero-academia.jpg" align="center"/> </center>

<center> <h1 style="color:#3498DB"> Analisis de Set de datos sobre preferencias de Anime de usuarios </h1> </center>

<p sytle="text-aling: justify"> <i> Este es un analisis de un set de datos que contiene información sobre las preferencias de los usuarios de <u>73,516 </u> usuarios en <u>12,294 </u> anime. Cada usuario puede agregar anime a su lista completa y darle una calificación, y este conjunto de datos es una compilación de esas calificaciones.
 
 Estos datos provienen de <b> myanimelist.net</b> </p>

<h2 style="color:#45B39D"> 1. <i>Carga y estandarizacion de datos</i> </h2>


<p><b> Que se hace en este apartado? </b></p>

<ol>
    <li>Importar las librerias que se necesitan</li>
    <li>Importar los set de datos de los CSV</li>
    <li>Revisar los encabezados de los DataFrames</li>
    <li>Unir los marcos de datos (DataFrames)</li>
</ol>


<h3 style="color:#76D7C4 ">1.1 Importacion de librerias</h3>

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mplt
import matplotlib.pyplot as plt

<h3 style="color:#76D7C4 ">1.2 Carga de archivos de datos</h3>

In [2]:
# Se carga el primer set de datos porporcionado.

dfanime=pd.read_csv("anime.csv")

In [3]:
# Se carga el segundo set de datos porporcionado.

dfrating=pd.read_csv("rating.csv")

<h3 style="color:#76D7C4 ">1.3 Revision de Dataframe</h3>

In [4]:
#Se revisa el primer set de datos
dfanime

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [5]:
# Es esta parte se va cambiar el nombre de los encabezados, por encabezados en mayuscula.

dfanime.rename(columns={'anime_id': 'Anime_ID', 'name': 'Name','genre':'Genre',
                        'type':'Type','episodes':'Episodes','rating':'Rating','members':'Members'}, inplace=True)

In [6]:
dfanime

,Anime_ID,Name,Genre,Type,Episodes,Rating,Members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [7]:
dfanime.shape

(12294, 7)

In [8]:
# Se revisa el segundo set de datos
dfrating

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

[7813737 rows x 3 columns]

In [9]:
dfrating.shape

(7813737, 3)

In [10]:
dfrating.head(5) # El user_id es generado automaticamente sin relacion con un usario.

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

<h2 style="color:#45B39D">2. Manejo de Valores Faltantes o Perdidos</h2>

<p>Que se hace en este apartado?</p>

<ol>
    <li>Indentificar como se muestran los valores faltantes y estandarizarlos (NaN)</li>
    <li>Contar valores faltantes por variable</li>
    <li>Analisis de imputacion de valores con la media</li>
    <li>Analisis la imputacion de valores String con el dato mas frecuente</li>
    <li>Analisis para eliminar valores faltantes</li>
</ol>

<h3 style="color:#76D7C4 "> 2.1 Contar los valores faltantes o perdidos por variable</h3>

In [11]:
valoresperdidos=dfanime.isnull()
valoresperdidos.head()

   Anime_ID   Name  Genre   Type  Episodes  Rating  Members
0     False  False  False  False     False   False    False
1     False  False  False  False     False   False    False
2     False  False  False  False     False   False    False
3     False  False  False  False     False   False    False
4     False  False  False  False     False   False    False

In [12]:
#Se verifica columna por columna los valores NAN
# Los valores TRUE son valores NAN

for column in valoresperdidos.columns.values.tolist():
    print(column)
    print(valoresperdidos[column].value_counts())
    print("")

Anime_ID
False    12294
Name: Anime_ID, dtype: int64

Name
False    12294
Name: Name, dtype: int64

Genre
False    12232
True        62
Name: Genre, dtype: int64

Type
False    12269
True        25
Name: Type, dtype: int64

Episodes
False    12294
Name: Episodes, dtype: int64

Rating
False    12064
True       230
Name: Rating, dtype: int64

Members
False    12294
Name: Members, dtype: int64

In [13]:
#Se reemplazan los valores Unknown por NAN
dfanime["Episodes"].replace("Unknown",np.nan,inplace=True)

<h3 style="color:#76D7C4 "> 2.2. Imputar valores numericos con la media</h3>

In [14]:
dfanime

,Anime_ID,Name,Genre,Type,Episodes,Rating,Members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [15]:
avg_norm=dfanime["Rating"].mean(axis=0)
print("La media de perdidas normalizadas es:", avg_norm)

La media de perdidas normalizadas es: 6.473901690981445

In [16]:
dfanime["Rating"].replace(np.nan,6.47,inplace=True)

<h3 style="color:#76D7C4 "> 2.2. Imputar valores String con el mas frecuente</h3>

In [17]:
dfanime["Genre"].value_counts().idxmax()

'Hentai'

In [18]:
dfanime["Genre"].replace(np.nan,"Hentai",inplace=True)

In [19]:
dfanime["Type"].value_counts().idxmax()

'TV'

In [20]:
dfanime["Type"].replace(np.nan,"TV",inplace=True)

In [21]:
dfanime["Episodes"].value_counts().idxmax()

'1'

In [22]:
dfanime["Episodes"].replace(np.nan,1,inplace=True)

In [23]:
#Se verifica que no existan valores TRUE

valoresperdidos=dfanime.isnull()

for column in valoresperdidos.columns.values.tolist():
    print(column)
    print(valoresperdidos[column].value_counts())
    print("")

Anime_ID
False    12294
Name: Anime_ID, dtype: int64

Name
False    12294
Name: Name, dtype: int64

Genre
False    12294
Name: Genre, dtype: int64

Type
False    12294
Name: Type, dtype: int64

Episodes
False    12294
Name: Episodes, dtype: int64

Rating
False    12294
Name: Rating, dtype: int64

Members
False    12294
Name: Members, dtype: int64

<h2 style="color:#45B39D">3. Estandarizacion de los datos</h2>

<p> Que se hace en este apartado? </p>

<ol>
    <li>Se verifica el dominio de la variable y se ajusta, si es necesario</li>
    <li>Se convierten los valores en función de su interpretación </li>
    <li>Se normalizan los datos para que los valores distintos queden entre 0 y 1</li>
    <li>Binning</li>
</ol>

<h3 style="color:#76D7C4">3.1 Verificacion del dominio de variables</h3>

In [24]:
dfanime.dtypes

Anime_ID      int64
Name         object
Genre        object
Type         object
Episodes     object
Rating      float64
Members       int64
dtype: object

In [25]:
dfanime = dfanime.convert_dtypes()
dfanime.dtypes

Anime_ID      Int64
Name         string
Genre        string
Type         string
Episodes     object
Rating      Float64
Members       Int64
dtype: object

In [26]:
dfanime["Episodes"]=dfanime["Episodes"].astype("int")

In [27]:
dfanime.dtypes

Anime_ID      Int64
Name         string
Genre        string
Type         string
Episodes      int32
Rating      Float64
Members       Int64
dtype: object

<h2 style="color:#45B39D""> 4. Visualizacion de Datos </h2>

<p>En este apartado se van a crear diferentes graficos, los cuales nos ayudan a realizar la interpretaci[on y analisis de la informacion.</p>

<ol>
   <li> Puntalmente se van a buscar dar respuesta a las preguntas de negocio que motivan el proyecto.</li>
   <li> Disponer de un conocimiento pleno de set de datos. </li>
    <li> Experiencia del Negocio.</li>
</ol>

 <h3 style="color:#45B39D"> Cual es el genero de anime con mayor puntuacion?</h3>

In [28]:
dfanime

,Anime_ID,Name,Genre,Type,Episodes,Rating,Members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [29]:
maxrate=dfanime.loc[dfanime.Rating==10,["Genre","Rating"]]
maxrate

                Genre  Rating
10464  Comedy, Parody    10.0

 <h3 style="color:#45B39D"> Cual es el nombre del anime mejor puntuado?</h3>

In [30]:
namerate=dfanime.loc[dfanime.Rating>9,["Name","Rating","Members"]]
namerate

                                                    Name  Rating  Members
0                                         Kimi no Na wa.    9.37   200630
1                       Fullmetal Alchemist: Brotherhood    9.26   793665
2                                               Gintama°    9.25   114262
3                                            Steins;Gate    9.17   673572
4                                          Gintama&#039;    9.16   151266
5      Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...    9.15    93351
6                                 Hunter x Hunter (2011)    9.13   425855
7                                   Ginga Eiyuu Densetsu    9.11    80679
8      Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...     9.1    72534
9                               Gintama&#039;: Enchousen    9.11    81109
10                                  Clannad: After Story    9.06   456749
11                                        Koe no Katachi    9.05   102733
12                                               Gintama    9.04   336376
9078                                        Kahei no Umi    9.33       44
9595                                    Mogura no Motoro     9.5       62
10400                        Spoon-hime no Swing Kitchen     9.6       47
10464            Taka no Tsume 8: Yoshida-kun no X-Files    10.0       13
10786                    Yakusoku: Africa Mizu to Midori    9.25       53

In [31]:
namerate.sort_values(by="Rating", ascending=False)

                                                    Name  Rating  Members
10464            Taka no Tsume 8: Yoshida-kun no X-Files    10.0       13
10400                        Spoon-hime no Swing Kitchen     9.6       47
9595                                    Mogura no Motoro     9.5       62
0                                         Kimi no Na wa.    9.37   200630
9078                                        Kahei no Umi    9.33       44
1                       Fullmetal Alchemist: Brotherhood    9.26   793665
10786                    Yakusoku: Africa Mizu to Midori    9.25       53
2                                               Gintama°    9.25   114262
3                                            Steins;Gate    9.17   673572
4                                          Gintama&#039;    9.16   151266
5      Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...    9.15    93351
6                                 Hunter x Hunter (2011)    9.13   425855
7                                   Ginga Eiyuu Densetsu    9.11    80679
9                               Gintama&#039;: Enchousen    9.11    81109
8      Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...     9.1    72534
10                                  Clannad: After Story    9.06   456749
11                                        Koe no Katachi    9.05   102733
12                                               Gintama    9.04   336376

 <h3 style="color:#45B39D"> Cual es el nombre del anime con mayor cantidad de miembros?</h3>

In [32]:
dfanime.max()

Anime_ID      34527
Name              ◯
Genre          Yaoi
Type             TV
Episodes       1818
Rating         10.0
Members     1013917
dtype: object

In [33]:
dfanime["Members"].max()

1013917

<h3 style="color:#45B39D"> Cual es el anime con mayor cantidad de episodeos?</h3>

In [34]:
dfanime["Episodes"].max()

1818

In [35]:
epirate=dfanime.loc[dfanime.Episodes>1000,["Name","Genre","Rating","Members","Episodes"]]
epirate

,Name,Genre,Rating,Members,Episodes
929,Doraemon (1979),"Adventure, Comedy, Fantasy, Kids, Sci-Fi, Shounen",7.76,14233,1787
5360,Manga Nippon Mukashibanashi (1976),"Fantasy, Historical",6.48,406,1471
6296,Oyako Club,"Comedy, Slice of Life",6.18,160,1818
6580,Hoka Hoka Kazoku,Comedy,6.05,194,1428
9242,Kirin Ashita no Calendar,"Historical, Kids",6.43,59,1306
9243,Kirin Monoshiri Yakata,Kids,5.56,116,1565
9613,Monoshiri Daigaku: Ashita no Calendar,Historical,6.8,112,1274
10165,Sekai Monoshiri Ryoko,Comedy,5.92,153,1006

In [36]:
epirate.sort_values(by='Episodes', ascending=False)

,Name,Genre,Rating,Members,Episodes
6296,Oyako Club,"Comedy, Slice of Life",6.18,160,1818
929,Doraemon (1979),"Adventure, Comedy, Fantasy, Kids, Sci-Fi, Shounen",7.76,14233,1787
9243,Kirin Monoshiri Yakata,Kids,5.56,116,1565
5360,Manga Nippon Mukashibanashi (1976),"Fantasy, Historical",6.48,406,1471
6580,Hoka Hoka Kazoku,Comedy,6.05,194,1428
9242,Kirin Ashita no Calendar,"Historical, Kids",6.43,59,1306
9613,Monoshiri Daigaku: Ashita no Calendar,Historical,6.8,112,1274
10165,Sekai Monoshiri Ryoko,Comedy,5.92,153,1006

<h3 style="color:#45B39D"> Cual es el genero con menor cantidad de miembros?</h3>

In [37]:
dfanime.min()

Anime_ID                1
Name        &quot;0&quot;
Genre              Action
Type                Movie
Episodes                1
Rating               1.67
Members                 5
dtype: object

<h3 style="color:#45B39D"> Cuales son los generos de anime con rating mayor a 8? </h3>

In [38]:
toprating=dfanime.loc[dfanime["Rating"]>8, ["Genre", "Rating"]]
toprating

                                                   Genre  Rating
0                   Drama, Romance, School, Supernatural    9.37
1      Action, Adventure, Drama, Fantasy, Magic, Mili...    9.26
2      Action, Comedy, Historical, Parody, Samurai, S...    9.25
3                                       Sci-Fi, Thriller    9.17
4      Action, Comedy, Historical, Parody, Samurai, S...    9.16
...                                                  ...     ...
10765                                 Adventure, Fantasy    8.07
10786                                        Drama, Kids    9.25
10793                                        Drama, Kids    8.67
10847                                        Drama, Kids    8.67
12251                                             Hentai    8.38

[583 rows x 2 columns]

In [39]:
topgenre=toprating.groupby(dfanime["Genre"]).mean()
topgenre

                                                      Rating
Genre
Action, Adventure, Comedy, Demons, Fantasy, Mag...      8.37
Action, Adventure, Comedy, Drama                        8.13
Action, Adventure, Comedy, Drama, Fantasy, Magi...      8.33
Action, Adventure, Comedy, Drama, Fantasy, Shounen  8.376667
Action, Adventure, Comedy, Drama, Fantasy, Shou...      8.38
...                                                      ...
School, Slice of Life, Sports                           8.15
Sci-Fi, Seinen                                          8.23
Sci-Fi, Slice of Life                                   8.26
Sci-Fi, Thriller                                       8.645
Slice of Life                                           8.79

[371 rows x 1 columns]

In [49]:
def filter_func(dfanime):
    return dfanime["Rating"].mean()>9.5

best=dfanime.groupby("Rating").filter(filter_func)
best

,Anime_ID,Name,Genre,Type,Episodes,Rating,Members
10400,30120,Spoon-hime no Swing Kitchen,"Adventure, Kids",TV,1,9.6,47
10464,33662,Taka no Tsume 8: Yoshida-kun no X-Files,"Comedy, Parody",Movie,1,10.0,13

In [53]:
best2=best.set_index("Anime_ID")
mapping={30120:"segundo mejor",33662:"el mejor"}
best2.groupby(mapping).sum()

               Episodes  Rating  Members
el mejor              1    10.0       13
segundo mejor         1     9.6       47

In [54]:
dfanime

,Anime_ID,Name,Genre,Type,Episodes,Rating,Members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [55]:
dfanime.groupby("Name")[["Rating"]].mean()

                                                    Rating
Name
&quot;0&quot;                                         5.06
&quot;Aesop&quot; no Ohanashi yori: Ushi to Kae...     5.0
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hats...    7.06
&quot;Bungaku Shoujo&quot; Memoire                    7.54
&quot;Bungaku Shoujo&quot; Movie                      7.63
...                                                    ...
xxxHOLiC Rou                                          8.32
xxxHOLiC Shunmuki                                     8.17
Üks Uks                                               6.17
ēlDLIVE                                               6.47
◯                                                     4.22

[12292 rows x 1 columns]

In [59]:
dfanime.groupby(["Name","Type"])["Rating"].aggregate("mean").unstack()

Type,Movie,Music,ONA,OVA,Special,TV
Name,,,,,,
&quot;0&quot;,<NA>,5.06,<NA>,<NA>,<NA>,<NA>
"&quot;Aesop&quot; no Ohanashi yori: Ushi to Kaeru, Yokubatta Inu",5.0,<NA>,<NA>,<NA>,<NA>,<NA>
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hatsukoi,<NA>,<NA>,<NA>,7.06,<NA>,<NA>
&quot;Bungaku Shoujo&quot; Memoire,<NA>,<NA>,<NA>,7.54,<NA>,<NA>
&quot;Bungaku Shoujo&quot; Movie,7.63,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...
xxxHOLiC Rou,<NA>,<NA>,<NA>,8.32,<NA>,<NA>
xxxHOLiC Shunmuki,<NA>,<NA>,<NA>,8.17,<NA>,<NA>
Üks Uks,6.17,<NA>,<NA>,<NA>,<NA>,<NA>
ēlDLIVE,<NA>,<NA>,<NA>,<NA>,<NA>,6.47
◯,<NA>,<NA>,4.22,<NA>,<NA>,<NA>

In [60]:
dfanime.pivot_table("Rating",index="Name",columns="Type")

Type,Movie,Music,ONA,OVA,Special,TV
Name,,,,,,
&quot;0&quot;,<NA>,5.06,<NA>,<NA>,<NA>,<NA>
"&quot;Aesop&quot; no Ohanashi yori: Ushi to Kaeru, Yokubatta Inu",5.0,<NA>,<NA>,<NA>,<NA>,<NA>
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hatsukoi,<NA>,<NA>,<NA>,7.06,<NA>,<NA>
&quot;Bungaku Shoujo&quot; Memoire,<NA>,<NA>,<NA>,7.54,<NA>,<NA>
&quot;Bungaku Shoujo&quot; Movie,7.63,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...
xxxHOLiC Rou,<NA>,<NA>,<NA>,8.32,<NA>,<NA>
xxxHOLiC Shunmuki,<NA>,<NA>,<NA>,8.17,<NA>,<NA>
Üks Uks,6.17,<NA>,<NA>,<NA>,<NA>,<NA>
ēlDLIVE,<NA>,<NA>,<NA>,<NA>,<NA>,6.47
◯,<NA>,<NA>,4.22,<NA>,<NA>,<NA>